*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color:#82B62D;
    --white-color:#fff;
    --black-color:#000;
    --black-color-op6:rgba(0, 0, 0, 0.6);
}

.grid{
    max-width: 128rem;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    min-width: 100px;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1.2rem 4rem;
    transition: opacity 0.2s ease;
    
  }

.btn.primary-btn{
    background-color: var(--primary-color);
    font-size: 1.4rem;
    min-width: 6rem;
    padding: 0.8rem 2.4rem;
    border-radius: unset;
}

.mt-16{
    margin-top: 1.6rem;
}

/* ------------------------------------ */

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 4.8rem;
    height: 8rem;
}

.header__brand,
.header__content{
    flex: 1;
}

.header__contact{
    text-align: right;
}

.header__brand h1{
    font-size: 2.8rem;
    color: var(--black-color);
}

.header__brand span{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.header__contact a{
    font-size: 1.2rem;
    color: var(--black-color-op6);
    margin-left: 1.6rem;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;
    padding-right: 1.6rem;
}

.header__nav-item{
    font-size: 1.8rem;
    color: var(--black-color);
    font-weight: 500;
}

.header__nav-item:hover{
    color: #DE4C1D;
}

.header__nav-item + .header__nav-item{
    margin-left: 1.6rem;
}

.header__social-item{
    font-size: 1.6rem;
    margin-left: 1.6rem;
    color: var(--black-color);
}

/* carouse; */

.carousel{
}

.carousel__container{
    position: relative;
}

.carousel__slide{
    display: none;
    animation: fade 1.5s;
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel__slide.carousel__slide--1st{
    background-image: url(../images/1.jpg);
}

.carousel__slide.carousel__slide--2nd{
    background-image: url(../images/5.jpg);
}

/* Next & previous buttons */

.btn.slide__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 3.2rem;
    min-width: 2.4rem;
    padding: 0.8rem;
  }
  
  /* Position the "next button" to the right */
  .btn-next {
    right: 0;
  }

  .btn.slide__btn:hover {
    background-color: rgba(0,0,0,0.4);
  }

.carousel__dot{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__dot-slide{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    margin: 0 0.4rem;
    border-radius: 50%;
    display: inline-block;
    background-color:transparent;
    border: 1px solid var(--primary-color);
}

.active, .carousel__dot-item:hover {
    background-color: var(--primary-color);
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.carousel__info{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel__info-sub-title{
    color: var(--white-color);
    font-size: 1.4rem;
    letter-spacing: 1rem;
}

.carousel__info-title{
    font-size: 4.8rem;
    color: var(--white-color);
    letter-spacing: 0.4rem;
    margin: 2rem 0;
}

.carousel__info-desc{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
}

/* Welcome */

.welcome{
    margin-top: 6rem;
}
.welcome__container{
    text-align: center;
}
.welcome__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.welcome__title{
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
    margin-bottom: 2.8rem;
}

.welcome__content-item{
    text-align: left;
    padding: 2rem 1.6rem;
}

.welcome__content-item span{
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2rem;
    color: var(--black-color-op6);
    line-height: 2.2rem;
}

.welcome__content-item img{
    width: 100%;
}

.welcome__content-item--s{
    flex-basis: 40%;
}

.welcome__content-item--l{
    flex-basis: 60%;
}

/* services */

.services{
    margin-top: 4rem;
    background-color: #F0F5F8;
}

.services__container{
    text-align: center;
    padding: 6rem;
}

.services__title{
    margin-bottom: 6rem;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
}

.services__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 6rem;
}

.services__item{

}

.services__item i{
    font-size: 2.8rem;
    color: var(--primary-color);
    padding: 0.8rem;
    background-color: #fff;
}

.services__item h1{
    margin: 1.6rem 0;
}

.services__item p{
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--black-color-op6);
}

/* News */

.news{
    margin-top: 6rem;
}

.news__container{
    text-align: center;
    padding: 0 6rem;
}

.news__title{
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
}

.news__content{
    display: flex;
}

.news__content-img{
    width: 40%;
    cursor: pointer;
}

.news__content-img img{
    width: 100%;
}

.news__content-info{
    width: 60%;
    text-align: left;
    padding: 0 2.4rem;
}

.news__content-admin span{
    font-size: 1.4rem;
    color: var(--black-color-op6);
    margin-right: 10rem;
}

.news__content-info h1{
    font-size: 4rem;
    padding: 4rem 2.4rem;
}

/* club */

.club {
    margin-top: 6rem;
    background-image: url(../images/5.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.club__container {
}

.club__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.club__content-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.club__content h1{
    font-size: 3.2rem;
    text-transform: uppercase;
    word-spacing: 1.2rem;
    letter-spacing: 0.4rem;
    color: var(--white-color);
    margin-bottom: 4rem;
}

.club__content input{
    height: 4rem;
    width: 40rem;
    padding: 0 1.6rem;
    font-size: 1.6rem;
    margin: 0 0.8rem;
}

.club__content i{
    font-size: 2.4rem;
}

/* footer */
.footer{
    background-color: #F0F5F8;
}

.footer__container {
}

.footer__content{
    display: flex;
    padding: 6rem 6rem 2.8rem 6rem;
}

.footer__item{
    text-align: justify;
}

.footer__item--l{
    flex-basis: 40%;
}

.footer__item--s{
    flex-basis: 10%;
}

.footer__item + .footer__item{
    margin-left: 2.4rem;
}

.footer__item h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer__item span{
    font-size: 1.2rem;
    color: var(--black-color-op6);
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
    display: inline-block;
}

.footer__item:nth-child(3) span{
    margin-bottom: 0;
}

.footer__item.footer__item--s a{
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: var(--black-color-op6);
    padding-left: 2rem;
    font-weight: 500;
}

.footer__item.footer__item--l a{
    color: var(--primary-color);
}

.footer__item i{
    font-size: 1.4rem;
    margin-right: 1.2rem;
}

.footer__sig{
    height: 5rem;
    background-color: #0F1215;
    text-align: center;
}

.footer__sig p{
    color: var(--white-color);
    line-height: 5rem;
    font-size: 1.4rem;
}

.footer__sig span{
    display: inline-block;
}
.footer__sig span:nth-child(1){
    border-left: 2px solid var(--white-color);
    height: 2rem;
    position: relative;
    top: 5px;
    margin: 0 0.8rem;
}

.footer__sig span:nth-child(2){
    color: var(--primary-color);
}